

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        .form-wrapper
            form(action='/update-cobj' method='post')
                label(for='name') Name: 
                input(type='text' name='newName' required)

                label(for='type') Type:
                input(type='text' name='newType' required)

                label(for='age') Age:
                input(type='numeric' name='newAge' required)
                
                button(type="submit") Submit
        a(href='/') Return to the homepage 